build/
builddir/
~*
*~
.flatpak-builder/
app-dir/
obj-x86_64-linux-gnu/
repo/
src/dump.vala
src/dump.txt
.vscode/settings.json
data/Application copy.css
src/Widgets/SettingsPopover copy.vala
src/MainWindow copy.vala
generate_stylesheets.sh
src/Widgets/help/ActionBar.vala
.gitignore
src/Widgets/help/MainWindow.vala
