
@define-color textColorPrimary #323232;
@define-color accent_color %s;
@define-color accent_color_strong %s;


.mainwindow-%d {
    background-color: @accent_color;
    transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mainwindow-%d undershoot.top {
    background:
        linear-gradient(
            @accent_color 0%,
            alpha(@accent_color, 0) 50%;
        );
}

.mainwindow-%d undershoot.bottom {
    background:
        linear-gradient(
            alpha(@accent_color, 0) 50%,
            @accent_color 100%;
        );
}



.jorts-view text selection {
    color: shade(@accent_color, 1.88);
    transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: @accent_color_strong;
    transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

entry.flat {
    background: transparent;
}

.window-%d .jorts-title image,
.window-%d .jorts-label {
    color: @accent_color_strong;
    box-shadow: none;
}

.window-%d .jorts-bar {
    color: @accent_color_strong;
    background-color: @accent_color;
    border-top-color: @accent_color;
    box-shadow: none;
    background-image: none;
    padding: 3px;
    transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-%d .jorts-bar image {
    color: @accent_color_strong;
    padding: 3px;
    box-shadow: none;
    background-image: none;
}

.window-%d .jorts-view,
.window-%d .jorts-view text,
.window-%d .jorts-title {
    background-color: @accent_color;
    transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: none;
    border-bottom-color: @accent_color;
    font-weight: 500;
    font-size: 1.2em;
    color: shade(@accent_color_strong, 0.77);
    box-shadow: none;
}


.color-button {
    border-radius: 50%;
    background-image: none;
    border: 1px solid alpha(#333, 0.25);
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
}

.color-button:hover,
.color_button:focus {
    border: 1px solid @inset_dark_color;
}

.color-slate {
    background-color: @SLATE_100;
}

.color-silver {
    background-color: @SILVER_100;
}

.color-strawberry {
    background-color: @STRAWBERRY_100;
}

.color-orange {
    background-color: @ORANGE_100;
}

.color-banana {
    background-color: @BANANA_100;
}

.color-lime {
    background-color: @LIME_100;
}

.color-blueberry {
    background-color: @BLUEBERRY_100;
}

.color-grape {
    background-color: @GRAPE_100;
}

.color-cocoa {
    background-color: @COCOA_100;
}

.jorts-bar box {
    border: none;
}

.image-button,
.titlebutton {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px;
    box-shadow: none;
}

.image-button:hover,
.image-button:focus,
.titlebutton:hover,
.titlebutton:focus {
    background-color: alpha(@fg_color, 0.3);
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}


.jorts-label {
font-weight: 700;
font-size: 0.88em;
}
.jorts-label:backdrop {
color: mix (@textColorPrimary, @accent_color_strong, 0.3);
}

.mainwindow-%d overshoot.bottom {
background: linear-gradient(to bottom, alpha(@accent_color, 0) 80%, alpha(@accent_color, 0.25) 100%); }

.mainwindow-%d overshoot.top {
background: linear-gradient(to top, alpha(@accent_color, 0) 80%, alpha(@accent_color, 0.25) 100%); }

.mainwindow-%d  overshoot.right {
background: linear-gradient(to right, alpha(@accent_color, 0) 80%, alpha(@accent_color, 0.25) 100%); }

.mainwindow-%d overshoot.bottom {
background: linear-gradient(to bottom, alpha(@accent_color, 0) 80%, alpha(@accent_color, 0.25) 100%); }

.mainwindow-%d overshoot.left {
background: linear-gradient(to left, alpha(@accent_color, 0) 80%, alpha(@accent_color, 0.25) 100%); }


