

@define-color textColorPrimary #323232;


@define-color slate #a5b3bc;
@define-color white #fafafa;
@define-color red #ff8c82;
@define-color orange #ffc27d;
@define-color yellow #fff394;
@define-color green #d1ff82;
@define-color blue #8cd5ff;
@define-color indigo #aca9fd;
@define-color cocoa #a3907c;

@define-color base_color @yellow;


.color-button {
    border-radius: 50%;
    background-image: none;
    border: 1px solid alpha(#333, 0.25);
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
}

.color-button:hover,
.color_button:focus {
    border: 1px solid @inset_dark_color;
}

.color-slate {
    background-color: #a5b3bc;
}

.color-white {
    background-color: #fafafa;
}

.color-red {
    background-color: #ff8c82;
}

.color-orange {
    background-color: #ffc27d;
}

.color-yellow {
    background-color: #fff394;
}

.color-green {
    background-color: #d1ff82;
}

.color-blue {
    background-color: #8cd5ff;
}

.color-indigo {
    background-color: #aca9fd;
}

.color-cocoa {
    background-color: #a3907c;
}



.jorts-bar box {
    border: none;
}

.image-button,
.titlebutton {
    background-color: transparent;
    background-image: none;  
    border: 1px solid transparent;
    padding: 3px;
    box-shadow: none;
}

.image-button:hover,
.image-button:focus,
.titlebutton:hover,
.titlebutton:focus {
    background-color: alpha(@fg_color, 0.3);
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
}


entry.flat {
    background: transparent;
}
