
window.BLUEBERRY {
    background-color: @BLUEBERRY_100;
}

window.BLUEBERRY undershoot.top {
    background:
        linear-gradient(
            @BLUEBERRY_100 0%,
            alpha(@BLUEBERRY_100, 0) 50%
        );
}

window.BLUEBERRY undershoot.bottom {
    background:
        linear-gradient(
            alpha(@BLUEBERRY_100, 0) 50%,
            @BLUEBERRY_100 100%
        );
}

window.BLUEBERRY textview text selection,
window.BLUEBERRY editablelabel text selection {
    color: shade(@BLUEBERRY_100, 1.88);
    background-color: @BLUEBERRY_900;
}

window.BLUEBERRY titlebar,
window.BLUEBERRY titlebar image,
window.BLUEBERRY actionbar,
window.BLUEBERRY actionbar image,
window.BLUEBERRY windowcontrols,
window.BLUEBERRY windowcontrols image,
window.BLUEBERRY {
    color: @BLUEBERRY_900;
}

window.BLUEBERRY titlebar,
window.BLUEBERRY textview,
window.BLUEBERRY textview text,
window.BLUEBERRY editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @BLUEBERRY_100;
    color: shade(@BLUEBERRY_900, 0.77);
}
window.BLUEBERRY entry {
    background-color: white;
    color: black;
}

window.BLUEBERRY editablelabel {
    color: @BLUEBERRY_900;
}

window.BLUEBERRY editablelabel:hover,
window.BLUEBERRY editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.BLUEBERRY editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.BLUEBERRY:backdrop textview text,
window.BLUEBERRY:backdrop titlebar,
window.BLUEBERRY:backdrop editablelabel,
window.BLUEBERRY:backdrop actionbar,
window.BLUEBERRY:backdrop actionbar image,
window.BLUEBERRY:backdrop windowcontrols,
window.BLUEBERRY:backdrop windowcontrols image {
    color: shade(@BLUEBERRY_500, 0.77);
}



window.MINT {
    background-color: @MINT_100;
}

window.MINT undershoot.top {
    background:
        linear-gradient(
            @MINT_100 0%,
            alpha(@MINT_100, 0) 50%
        );
}

window.MINT undershoot.bottom {
    background:
        linear-gradient(
            alpha(@MINT_100, 0) 50%,
            @MINT_100 100%
        );
}

window.MINT textview text selection,
window.MINT editablelabel text selection {
    color: shade(@MINT_100, 1.88);
    background-color: @MINT_900;
}

window.MINT titlebar,
window.MINT titlebar image,
window.MINT actionbar,
window.MINT actionbar image,
window.MINT windowcontrols,
window.MINT windowcontrols image,
window.MINT {
    color: @MINT_900;
}

window.MINT titlebar,
window.MINT textview,
window.MINT textview text,
window.MINT editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @MINT_100;
    color: shade(@MINT_900, 0.77);
}
window.MINT entry {
    background-color: white;
    color: black;
}

window.MINT editablelabel {
    color: @MINT_900;
}

window.MINT editablelabel:hover,
window.MINT editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.MINT editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.MINT:backdrop textview text,
window.MINT:backdrop titlebar,
window.MINT:backdrop editablelabel,
window.MINT:backdrop actionbar,
window.MINT:backdrop actionbar image,
window.MINT:backdrop windowcontrols,
window.MINT:backdrop windowcontrols image {
    color: shade(@MINT_500, 0.77);
}



window.LIME {
    background-color: @LIME_100;
}

window.LIME undershoot.top {
    background:
        linear-gradient(
            @LIME_100 0%,
            alpha(@LIME_100, 0) 50%
        );
}

window.LIME undershoot.bottom {
    background:
        linear-gradient(
            alpha(@LIME_100, 0) 50%,
            @LIME_100 100%
        );
}

window.LIME textview text selection,
window.LIME editablelabel text selection {
    color: shade(@LIME_100, 1.88);
    background-color: @LIME_900;
}

window.LIME titlebar,
window.LIME titlebar image,
window.LIME actionbar,
window.LIME actionbar image,
window.LIME windowcontrols,
window.LIME windowcontrols image,
window.LIME {
    color: @LIME_900;
}

window.LIME titlebar,
window.LIME textview,
window.LIME textview text,
window.LIME editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @LIME_100;
    color: shade(@LIME_900, 0.77);
}
window.LIME entry {
    background-color: white;
    color: black;
}

window.LIME editablelabel {
    color: @LIME_900;
}

window.LIME editablelabel:hover,
window.LIME editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.LIME editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.LIME:backdrop textview text,
window.LIME:backdrop titlebar,
window.LIME:backdrop editablelabel,
window.LIME:backdrop actionbar,
window.LIME:backdrop actionbar image,
window.LIME:backdrop windowcontrols,
window.LIME:backdrop windowcontrols image {
    color: shade(@LIME_500, 0.77);
}



window.BANANA {
    background-color: @BANANA_100;
}

window.BANANA undershoot.top {
    background:
        linear-gradient(
            @BANANA_100 0%,
            alpha(@BANANA_100, 0) 50%
        );
}

window.BANANA undershoot.bottom {
    background:
        linear-gradient(
            alpha(@BANANA_100, 0) 50%,
            @BANANA_100 100%
        );
}

window.BANANA textview text selection,
window.BANANA editablelabel text selection {
    color: shade(@BANANA_100, 1.88);
    background-color: @BANANA_900;
}

window.BANANA titlebar,
window.BANANA titlebar image,
window.BANANA actionbar,
window.BANANA actionbar image,
window.BANANA windowcontrols,
window.BANANA windowcontrols image,
window.BANANA {
    color: @BANANA_900;
}

window.BANANA titlebar,
window.BANANA textview,
window.BANANA textview text,
window.BANANA editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @BANANA_100;
    color: shade(@BANANA_900, 0.77);
}
window.BANANA entry {
    background-color: white;
    color: black;
}

window.BANANA editablelabel {
    color: @BANANA_900;
}

window.BANANA editablelabel:hover,
window.BANANA editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.BANANA editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.BANANA:backdrop textview text,
window.BANANA:backdrop titlebar,
window.BANANA:backdrop editablelabel,
window.BANANA:backdrop actionbar,
window.BANANA:backdrop actionbar image,
window.BANANA:backdrop windowcontrols,
window.BANANA:backdrop windowcontrols image {
    color: shade(@BANANA_500, 0.77);
}



window.ORANGE {
    background-color: @ORANGE_100;
}

window.ORANGE undershoot.top {
    background:
        linear-gradient(
            @ORANGE_100 0%,
            alpha(@ORANGE_100, 0) 50%
        );
}

window.ORANGE undershoot.bottom {
    background:
        linear-gradient(
            alpha(@ORANGE_100, 0) 50%,
            @ORANGE_100 100%
        );
}

window.ORANGE textview text selection,
window.ORANGE editablelabel text selection {
    color: shade(@ORANGE_100, 1.88);
    background-color: @ORANGE_900;
}

window.ORANGE titlebar,
window.ORANGE titlebar image,
window.ORANGE actionbar,
window.ORANGE actionbar image,
window.ORANGE windowcontrols,
window.ORANGE windowcontrols image,
window.ORANGE {
    color: @ORANGE_900;
}

window.ORANGE titlebar,
window.ORANGE textview,
window.ORANGE textview text,
window.ORANGE editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @ORANGE_100;
    color: shade(@ORANGE_900, 0.77);
}
window.ORANGE entry {
    background-color: white;
    color: black;
}

window.ORANGE editablelabel {
    color: @ORANGE_900;
}

window.ORANGE editablelabel:hover,
window.ORANGE editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.ORANGE editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.ORANGE:backdrop textview text,
window.ORANGE:backdrop titlebar,
window.ORANGE:backdrop editablelabel,
window.ORANGE:backdrop actionbar,
window.ORANGE:backdrop actionbar image,
window.ORANGE:backdrop windowcontrols,
window.ORANGE:backdrop windowcontrols image {
    color: shade(@ORANGE_500, 0.77);
}



window.STRAWBERRY {
    background-color: @STRAWBERRY_100;
}

window.STRAWBERRY undershoot.top {
    background:
        linear-gradient(
            @STRAWBERRY_100 0%,
            alpha(@STRAWBERRY_100, 0) 50%
        );
}

window.STRAWBERRY undershoot.bottom {
    background:
        linear-gradient(
            alpha(@STRAWBERRY_100, 0) 50%,
            @STRAWBERRY_100 100%
        );
}

window.STRAWBERRY textview text selection,
window.STRAWBERRY editablelabel text selection {
    color: shade(@STRAWBERRY_100, 1.88);
    background-color: @STRAWBERRY_900;
}

window.STRAWBERRY titlebar,
window.STRAWBERRY titlebar image,
window.STRAWBERRY actionbar,
window.STRAWBERRY actionbar image,
window.STRAWBERRY windowcontrols,
window.STRAWBERRY windowcontrols image,
window.STRAWBERRY {
    color: @STRAWBERRY_900;
}

window.STRAWBERRY titlebar,
window.STRAWBERRY textview,
window.STRAWBERRY textview text,
window.STRAWBERRY editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @STRAWBERRY_100;
    color: shade(@STRAWBERRY_900, 0.77);
}
window.STRAWBERRY entry {
    background-color: white;
    color: black;
}

window.STRAWBERRY editablelabel {
    color: @STRAWBERRY_900;
}

window.STRAWBERRY editablelabel:hover,
window.STRAWBERRY editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.STRAWBERRY editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.STRAWBERRY:backdrop textview text,
window.STRAWBERRY:backdrop titlebar,
window.STRAWBERRY:backdrop editablelabel,
window.STRAWBERRY:backdrop actionbar,
window.STRAWBERRY:backdrop actionbar image,
window.STRAWBERRY:backdrop windowcontrols,
window.STRAWBERRY:backdrop windowcontrols image {
    color: shade(@STRAWBERRY_500, 0.77);
}



window.BUBBLEGUM {
    background-color: @BUBBLEGUM_100;
}

window.BUBBLEGUM undershoot.top {
    background:
        linear-gradient(
            @BUBBLEGUM_100 0%,
            alpha(@BUBBLEGUM_100, 0) 50%
        );
}

window.BUBBLEGUM undershoot.bottom {
    background:
        linear-gradient(
            alpha(@BUBBLEGUM_100, 0) 50%,
            @BUBBLEGUM_100 100%
        );
}

window.BUBBLEGUM textview text selection,
window.BUBBLEGUM editablelabel text selection {
    color: shade(@BUBBLEGUM_100, 1.88);
    background-color: @BUBBLEGUM_900;
}

window.BUBBLEGUM titlebar,
window.BUBBLEGUM titlebar image,
window.BUBBLEGUM actionbar,
window.BUBBLEGUM actionbar image,
window.BUBBLEGUM windowcontrols,
window.BUBBLEGUM windowcontrols image,
window.BUBBLEGUM {
    color: @BUBBLEGUM_900;
}

window.BUBBLEGUM titlebar,
window.BUBBLEGUM textview,
window.BUBBLEGUM textview text,
window.BUBBLEGUM editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @BUBBLEGUM_100;
    color: shade(@BUBBLEGUM_900, 0.77);
}
window.BUBBLEGUM entry {
    background-color: white;
    color: black;
}

window.BUBBLEGUM editablelabel {
    color: @BUBBLEGUM_900;
}

window.BUBBLEGUM editablelabel:hover,
window.BUBBLEGUM editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.BUBBLEGUM editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.BUBBLEGUM:backdrop textview text,
window.BUBBLEGUM:backdrop titlebar,
window.BUBBLEGUM:backdrop editablelabel,
window.BUBBLEGUM:backdrop actionbar,
window.BUBBLEGUM:backdrop actionbar image,
window.BUBBLEGUM:backdrop windowcontrols,
window.BUBBLEGUM:backdrop windowcontrols image {
    color: shade(@BUBBLEGUM_500, 0.77);
}



window.GRAPE {
    background-color: @GRAPE_100;
}

window.GRAPE undershoot.top {
    background:
        linear-gradient(
            @GRAPE_100 0%,
            alpha(@GRAPE_100, 0) 50%
        );
}

window.GRAPE undershoot.bottom {
    background:
        linear-gradient(
            alpha(@GRAPE_100, 0) 50%,
            @GRAPE_100 100%
        );
}

window.GRAPE textview text selection,
window.GRAPE editablelabel text selection {
    color: shade(@GRAPE_100, 1.88);
    background-color: @GRAPE_900;
}

window.GRAPE titlebar,
window.GRAPE titlebar image,
window.GRAPE actionbar,
window.GRAPE actionbar image,
window.GRAPE windowcontrols,
window.GRAPE windowcontrols image,
window.GRAPE {
    color: @GRAPE_900;
}

window.GRAPE titlebar,
window.GRAPE textview,
window.GRAPE textview text,
window.GRAPE editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @GRAPE_100;
    color: shade(@GRAPE_900, 0.77);
}
window.GRAPE entry {
    background-color: white;
    color: black;
}

window.GRAPE editablelabel {
    color: @GRAPE_900;
}

window.GRAPE editablelabel:hover,
window.GRAPE editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.GRAPE editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.GRAPE:backdrop textview text,
window.GRAPE:backdrop titlebar,
window.GRAPE:backdrop editablelabel,
window.GRAPE:backdrop actionbar,
window.GRAPE:backdrop actionbar image,
window.GRAPE:backdrop windowcontrols,
window.GRAPE:backdrop windowcontrols image {
    color: shade(@GRAPE_500, 0.77);
}



window.COCOA {
    background-color: @COCOA_100;
}

window.COCOA undershoot.top {
    background:
        linear-gradient(
            @COCOA_100 0%,
            alpha(@COCOA_100, 0) 50%
        );
}

window.COCOA undershoot.bottom {
    background:
        linear-gradient(
            alpha(@COCOA_100, 0) 50%,
            @COCOA_100 100%
        );
}

window.COCOA textview text selection,
window.COCOA editablelabel text selection {
    color: shade(@COCOA_100, 1.88);
    background-color: @COCOA_900;
}

window.COCOA titlebar,
window.COCOA titlebar image,
window.COCOA actionbar,
window.COCOA actionbar image,
window.COCOA windowcontrols,
window.COCOA windowcontrols image,
window.COCOA {
    color: @COCOA_900;
}

window.COCOA titlebar,
window.COCOA textview,
window.COCOA textview text,
window.COCOA editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @COCOA_100;
    color: shade(@COCOA_900, 0.77);
}
window.COCOA entry {
    background-color: white;
    color: black;
}

window.COCOA editablelabel {
    color: @COCOA_900;
}

window.COCOA editablelabel:hover,
window.COCOA editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.COCOA editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.COCOA:backdrop textview text,
window.COCOA:backdrop titlebar,
window.COCOA:backdrop editablelabel,
window.COCOA:backdrop actionbar,
window.COCOA:backdrop actionbar image,
window.COCOA:backdrop windowcontrols,
window.COCOA:backdrop windowcontrols image {
    color: shade(@COCOA_500, 0.77);
}



window.SLATE {
    background-color: @SLATE_100;
}

window.SLATE undershoot.top {
    background:
        linear-gradient(
            @SLATE_100 0%,
            alpha(@SLATE_100, 0) 50%
        );
}

window.SLATE undershoot.bottom {
    background:
        linear-gradient(
            alpha(@SLATE_100, 0) 50%,
            @SLATE_100 100%
        );
}

window.SLATE textview text selection,
window.SLATE editablelabel text selection {
    color: shade(@SLATE_100, 1.88);
    background-color: @SLATE_900;
}

window.SLATE titlebar,
window.SLATE titlebar image,
window.SLATE actionbar,
window.SLATE actionbar image,
window.SLATE windowcontrols,
window.SLATE windowcontrols image,
window.SLATE {
    color: @SLATE_900;
}

window.SLATE titlebar,
window.SLATE textview,
window.SLATE textview text,
window.SLATE editablelabel.editing text {
    background-color: transparent;
    border-bottom-color: @SLATE_100;
    color: shade(@SLATE_900, 0.77);
}
window.SLATE entry {
    background-color: white;
    color: black;
}

window.SLATE editablelabel {
    color: @SLATE_900;
}

window.SLATE editablelabel:hover,
window.SLATE editablelabel:focus {
    border: 1px solid alpha(@s_100,0.5);

}

window.SLATE editablelabel.editing {
    border: 1px solid alpha(@s_500,0.5);
}

window.SLATE:backdrop textview text,
window.SLATE:backdrop titlebar,
window.SLATE:backdrop editablelabel,
window.SLATE:backdrop actionbar,
window.SLATE:backdrop actionbar image,
window.SLATE:backdrop windowcontrols,
window.SLATE:backdrop windowcontrols image {
    color: shade(@SLATE_500, 0.77);
}